<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.re.apptentive.demo" android:versionCode="1" android:versionName="1">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="18" />
  
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  
  <application android:label="ApptentiveDemo" android:icon="@drawable/Icon">

    <!-- Include your App's Apptentive API key from your app's "settings" page on www.apptentive.com -->
    <meta-data android:name="apptentive_api_key" android:value=""/>

    <!-- Add a reference to Apptentive's ViewActivity and NetworkStateReceiver -->
    <activity android:name="com.apptentive.android.sdk.ViewActivity"
              android:theme="@style/Apptentive.Theme.Transparent"/>

    <receiver android:name="com.apptentive.android.sdk.comm.NetworkStateReceiver">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
        <action android:name="android.intent.action.PACKAGE_RESTARTED"/>
      </intent-filter>
    </receiver>

  </application>

</manifest>